:root {
    --main-purpure: #9966cc;
    --main-green: #47c256;
    --main-red: #ff0000;
    --main-orange: #cc6600;
    --main-white: #fff;
    --main-black: #000;
    --main-grey: #8e8e8e;
    --main-purpure2:rgba(247,36,99,0.5);
  }
  
  *, *::after, *::before{
  box-sizing: border-box;
  }
  
  body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  