:root {
  --main-purpure: #9966cc;
  --main-green: #47c256;
  --main-red: #ff0000;
  --main-orange: #cc6600;
  --main-white: #fff;
  --main-black: #000;
  --main-grey: #8e8e8e;
}

*, *::after, *::before{
box-sizing: border-box;
}

/*    font-family: 'Noto Sans', sans-serif;

    font-family: 'Playfair Display', serif;*/


body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

  /*navigation */

.nav {
  padding: 40px 0;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  color: var(--main-black);
  font-weight: bold;
}

 .nav__logo a{
   text-decoration:none;
 }

.nav__logo a:hover{
  text-decoration: underline;
  color: var(--main-orange);
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
margin-right:30px;
font-size: 25px;
}

/*у последнего элемента нет отступа*/
.nav__item:last-child {
margin-right: 0;
}

.nav__link {

text-decoration: none;
color:var(  --main-black);
}

.nav__link:hover{
  color:var(--main-orange);
}

.nav__card  {

}

.nav__card_link{
  position: relative;
  margin: 5px;
  left: -5px;
  display: inline-block;
  right: 25px;
}

.nav__card-number{
  position: absolute;
  border-radius: 50%;
  color:var(--main-white);
  background-color: var(--main-purpure);
  font-weight: bold;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;

  }

.nav__card > span{
  margin-left: 20px;
}
  /*header */

.header{

}

.header__row{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header__content{
 position: absolute;
 width: 670px;
 left: 0;
 top:50%;
 transform: translateY(-50%);
}

.header__title{
 margin: 0;
 font-family: 'Playfair Display', serif;
 font-style: normal;
 font-size: 80px;
 line-height: 90px;
 margin-bottom: 20px;
}

.header__text{
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.header__btn{

}

.button{
  display: inline-block;
  height: 50px;
  background: var(--main-purpure);
  box-shadow: 0px 4px 15px;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color:var(--main-white);
  padding: 0 30px;
  text-decoration:none;
}

.button:hover{
  box-shadow: 0px 4px 15px rgb(255, 0, 0);
}

.header__photo {
  display:grid;
  grid-template-columns: 300px 300px;
}

.header__photo img{
  padding: 10px 10px;
  width: 100%;
  height: 100%;

}

/*main section*/

.featured {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-header {
  margin-top: 40px;
}

.section-header__title {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 10px;
  line-height: 56px;
  margin: 0;
  text-align: center;
  color:var(--main-black);
}

.section-header__desc {
  font-style: normal;
  font-weight:bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-purpure);
}

.section-header__desc p{
  margin-top: 0;
}

/*products*/

.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: -50px;
}

.product {
  text-align: center;
  max-width: 270px;
  margin: 30px 0;
}

 .product-link{
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.2s ease-in;
}

.product-link:hover{
  opacity: 0.8;
}

.product__img {
  display: block;
  margin-bottom: 5px;

  width: 270px;
  height: 350px;
}

.product__title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  margin:5px 0 5px 0;
  width: 270px;
  color: var(--main-black);
}

.product__price {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  width: 270px;
}

.product__old-price {
  color: var(--main-grey);
  margin-right: 10px;
}

.product__price-new{
  color: var(--main-purpure);
  font-weight: bold;
}
/*button in wrapper*/
.section-wrapper-button{
  text-align: center;
}

.button-outline{
  display: inline-block;
  font-family: 'Playfair Display', serif;
  padding: 9px 40px 12px;
  color: var(--main-white);
  border: 1px solid var(--main-black);
  background-color: var(--main-purpure);
  border-radius: 4px;
  font-style: normal;
  font-weight:bold;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  }
/*button in wrapper*/
