:root {
  --main-purpure: #9966cc;
  --main-green: #47c256;
  --main-red: #ff0000;
  --main-orange: #cc6600;
  --main-white: #fff;
  --main-black: #000;
}

*, *::after, *::before{
box-sizing: border-box;
}

body{
  margin: 0;
}

.nav {
  padding: 40px 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  
}

.nav__logo {
  width: 80px;
  height: 40px;
  background-color: #9966cc;
}

.nav__list {
  width: 260px;
  height: 40px;
  background-color: #47c256;
}

.nav__item {
background-color: #47c256;
}

.nav__link {
background-color: #000;
}

.nav__card {
  width: 40px;
  height: 40px;
  background-color: #ff0000;
}




