.earrings{
  width: 100%;
   height: 100%;
 }
 
 .earringsRow{
   display:flex;
   flex-direction: row;
   position: relative;
   left: 150px;
   right: 150px;
 }
 
 
 .product {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     max-width: 300px;
     height: 100%;
     position: relative;
     top:150px;
   }
   
 @media (max-width:1024px){
   .product {
     text-align: center;
     left: 0px;
     margin: 10px 0;
   }
 }
   
 
 .productImg {
   display: block;
   margin-bottom: 5px;
   width: 250px;
   height: 310px;
   border-radius: 8%;
 }
   
 @media (max-width:1024px){
   .productImg {
     width: 220px;
     height: 300px;
     gap:10px;
   }
 }
   
 .productTitle {
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 30px;
   width: 250px;
   height: 50px;
   color: var(--main-black);
   text-align: center;
 
 }
   
 @media (max-width:1024px){
   .productTitle {
   
   }
 }
 
 .productLine{
   max-width: 200px;
   border: 2px solid var(--main-purpure);
   margin: 0 ;
 
 }
   
 .productCharacteristics {
   font-size: 24px;
   line-height: 29px;
   width: 280px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style-type: none;
   gap:10px;
 }
   
 @media (max-width:1024px){
     .productСharacteristics {
     font-size: 18px;
   }
 }
   
 
 .productMaterial{
   position: relative;
   width: 300px;
   left: -50px;
 }
 
 .productcSize{
   position: relative;
   width: 200px;
   left: 0px;
 }
 
 .productPrice{
   color: var(--main-purpure);
   font-weight: bold;
 }
 
 .productButton{
   font-family: 'Playfair Display', serif;
   font-style: normal;
   width: 200px;
   height:50px;
   background-color: var(--main-grey);
   color: var(--main-black);
   border-radius: 8px;
   font-size: 38px;
   text-align: center;
   position: relative;
   left:50px;
   top:0px;
   font-weight: bold;
   line-height: 35px;
   padding-top: 10px;
 }
 
 .productButton:hover{
   background-color: var(--main-purpure);
   color: var(--main-white);
   font-size: 20px;
 }