.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.mainRow{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top:150px; 
    left:100px;
}
  
.mainContent{
  position: absolute;
  max-width: 670px;
  left: -70px;
  top:50%;
  transform: translateY(-50%);
}
  
@media (max-width:1024px){
  .mainContent{
    margin-top: 100px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}
  
.mainTitle{
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 60px;
  line-height: 32px;
  margin-bottom: 20px;
  text-decoration: none;
}
  
@media (max-width:1024px){
  .mainTitle{
    font-size: 40px;
    text-align: center;
  }
}
  
.mainText{
  position: relative;
  max-width: 500px;
  height:70px;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 40px;
  
  text-align: left;
}


.mainBtn{
  position: relative;
  top:100px;
}

@media (max-width:1024px){
  .mainBtn{
    display: none;
  }
}
  
.mainPhoto{
  position: relative;
  display: grid;
  grid-template-columns: 300px 300px;
  position: relative;
  left:-70px;
  column-gap: 10px;
  row-gap: 10px;
  top:100px;
}
  
@media (max-width:1024px){
  .mainPhoto{
    display: none;
    visibility: hidden;
  }
}


.mainPhotoPendant{
  width: 300px;
  height: 400px;
  border-radius: 8%;
}

.mainPhotoRing{
  width: 300px;
  height: 400px;
  border-radius: 8%;
}

.mainPhotoSet{
  width: 300px;
  height: 400px;
  border-radius: 8%;
}

.mainPhotoBroosh{
  width: 300px;
  height: 400px;
  border-radius: 8%;
}


.button{
  display: inline-block;
  height: 50px;
  background: var(--main-purpure);
  box-shadow: 0px 4px 15px;
  border-radius: 5px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color:var(--main-white);
  padding: 0 30px;
  text-decoration:none;
}


.button:hover{
 color: var(--main-black);
  transition: background-color 0.2s ease-in, color  0.2s ease-in;
}


a:hover {
  color:var(--main-purpure);

}