.about{
  width: 100vw;
  height: 100%;
}
  
@media (max-width:1024px){
  .about{
    width: 100vw;
    height: 100%;
    }
}

.aboutRow{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  position: relative;
  left: 5%;
  right: 0px;
  top:100px;
}

@media (max-width:1024px){
  .aboutRow{
    width: 100vw;
    }
}


.aboutHeader{
  width: 63vw;
  height: 100%;
  position: relative;
  top:5%;
  left:15%;
}

@media (max-width:1024px){
  .aboutHeader{
    width: 100vw;
    left:15%;
    }
}

.aboutText{
  width: 63vw;
  height: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (max-width:1024px){
  .aboutText{

    text-align: center;
    }
}
 

.aboutTitle{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  line-height: 56px;
  text-align: center;
}
  
@media (max-width:1024px){
  .aboutTitle{
    font-size:3rem;
    text-align: center;
    }
}
 
.aboutColumn{
  width: 65vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  row-gap: 5rem;
  column-gap: 5rem;
  position: relative;
  right:35%;
  top:20rem;
}

@media (max-width:1024px){
  .aboutColumn{
    width:100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 250px;
    left:-45%;
    right:0;
    top:35rem;
    margin-bottom: 10%;
    }
}
  
.aboutImg{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 8%;
 
}
  
@media (max-width:1024px){
  .aboutImg{
    width: 200%;
    height: 200%;
    }
}
  
@media (max-width:1024px){
  .aboutImg:last-child{
 
    }
}
  
.aboutPost{
  width: 300px;
  display: flex;
  flex-direction: column;
}
    
@media (max-width:1024px){
  .aboutPost{
    width:70%;
    padding-right: 10%;
  }
}

.postContent{
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width:1024px){
  .aboutPost{
  
  
  }
}

    
.postTitle{
  font-family: 'Playfair Display', serif;
  margin: 10px 5px 0px 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  color:var(-Main-black);
}
    
.postText{
  font-style: normal;
  font-weight:normal;
  font-size: 1.5em;
  line-height: 1.3;
  color: var(-Main-grey);
}
    
.postReadMore{
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color:var(-Main-black);
  text-decoration: none;
}
  /*  
    .postReadMore::after{
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url('./img/logo/braket.png');
      background-position: center;
      background-size: auto;
      margin-left: 2px;
      vertical-align: text-top;
      transition: margin 0.2s easy-in;
    }
    */

.postReadMore:hover{
  text-decoration: underline;
}
    
.postReadMore:hover::after{
  margin-left: 10px;
}
    