/*navigation */

.nav {
padding: 20px 0;
}

@media (min-width:992px){
.nav{
  margin: 40px 0;
}
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo a{
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  color: var(--main-black);
  font-weight: bold;
  margin-right: 20px;
}

@media (min-width:992px){
.nav__logo a{
  margin-right: 83px;
}
}

.nav__logo a {
 text-decoration:none;
}

.nav__logo a:hover{
  text-decoration: underline;
  color: var(--main-orange);
}

.nav__list{
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: var(--main-black);
  margin: 0;
  padding: 0;
  color: var(--main-white);
  z-index: 9;
}

.nav__list-holder{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--main-purpure2);
  z-index: 9;
}

.nav__list-holder--visible{
  display: block;
}
/*
.nav__list {
display: flex;
padding: 0;
margin: 0;
list-style-type: none;
}*/

.nav__item {
  display: block;
  padding: 20px 10px;
  font-size: 25px;
  border-bottom: 1px solid var(--main-red);
}

@media (min-width:992px){
  .nav__item{
    margin-right: 30;
}
}


/*у последнего элемента нет отступа*/
.nav__item:last-child {
margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover{
  color:var(--main-orange);
}

.nav__card  {
  margin-left: auto;
  margin-right: 15px;
}

@media (min-width:992px){
  .nav__card{
    margin-right: 0;
}
}

.nav__card_link{
  position: relative;
  margin: 5px;
  left: -5px;
  display: inline-block;
  right: 25px;
}

.nav__card-number{
  position: absolute;
  border-radius: 50%;
  color:var(--main-white);
  background-color: var(--main-purpure);
  font-weight: bold;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;

}

.nav__card > span{
  margin-left: 20px;
}
