
@media (max-width:1024px){
  main{
    position: relative;
    top:100px;
  }
}

.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: -50px;
}


@media (max-width:1024px){
  .products-wrapper{
  justify-content: space-around;
  }
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 270px;
  margin: 30px 0;
}

@media (max-width:1024px){
  .product {
  text-align: center;
  left: 0px;
  margin: 10px 0;
  }
}

 .product-link{
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.2s ease-in;
}

.product-link:hover{
  opacity: 0.8;
}

.product__img {
  display: block;
  margin-bottom: 5px;
  width: 270px;
  height: 350px;
}

@media (max-width:1024px){
  .product__img {
    width: 220px;
    height: 300px;
    gap:10px;
  }
}

.product__title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  margin:5px 0 5px 0;
  width: 270px;
  height: 90px;
  color: var(--main-black);
}

@media (max-width:1024px){
  .product__title {
  width: 220px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  }
}

.product__price {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
}

@media (max-width:1024px){
  .product__price {
  font-size: 18px;
  }
}


.product__old-price {
  color: var(--main-grey);
  margin-right: 10px;
}

.product__price-new{
  color: var(--main-purpure);
  font-weight: bold;
}
/*button in wrapper*/
.section-wrapper-button{
  text-align: center;
}
