/*navigation */
a{
  text-decoration: none;

}

.nav {
    position: relative;
    width: 100%;
    height: 100%;
    left: 20%;
    right:100px;
    bottom: 30px;
    z-index: 1;
    margin: 0 auto;
}
  
.navRow {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    top:0px;
}
  
.navLogo{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size:40px;
    line-height: 38px;
    color: var(--main-purpure);
    font-weight: bold;
    position: relative;
    top:60px;
    left: 530px;
    z-index: 1;
}

.navLogo:hover{
  color:var(--main-black);
}
.navLogoLink{
  color:var(--main-black);
}
.navLogoLink:hover{
  color:var(--main-purpure);
}

.navLogoColumn{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
}

.navLogoText{
  font-family: 'Playfair Display', serif;
  font-style: normal;
  position: relative;
  width: 200px;
  height: 10px;
  font-size:22px;
  line-height: 30px;
  top:20px;
  z-index: 2;
}

.navLogoPhone{
  width: 200px;
  height: 10px;
  font-size: 22px;
  line-height: 30px;
  top:0px;
  z-index: 6;
}

.navHeart{
  position: relative;
  left:850px;
  top:50px;
}

.navBasket{
  position: relative;
  left:900px;
  top:50px;
}

.navListBottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  padding-left: -5px;
  width: 1200px;
  height: 50px;
  top:120px;
  left:0px;
}

.navLine{
  position: relative;
  width: 1200px;
  border: 2px solid var(--main-purpure);
  left: 0px;
  top:70px;
}

.navList{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    top:0px;
    left: 0;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    color: var(--main-white);
    z-index: 9;
}
  
  @media (min-width:992px){
    .navList{

  }
  }
  
  .navItem {
    display: block;
    padding: 10px 5px;
    font-size: 21px;
    width: 100%;
  }
  
  @media (min-width:992px){
    .navItem{
 
  }
  }


  /*у последнего элемента нет отступа*/
  .navItem:last-child {
    margin-right: 0;
  }
  
  .navLink {
    text-decoration: none;
    color:var(--main-black);
    width: 80px;
    text-align: center;
    border-radius: 9px;
  }
  
  .navLink:hover{
    color:var(--main-purpure);
  }

  


