/*navigation */

a{
  text-decoration: none;
}
.nav {
    position: relative;
    width: 1500px;
    height: 50px;
    left: 100px;
    right:100px;
   
}
  
.navRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1500px;
    height: 50px;
}
  
.navLogo{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--main-black);
    font-weight: bold;
    position: relative;
    top:18px;
}
  
.navList{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 50px;
    background-color: var(--main-black);
    margin: 0;
    padding: 0;
    color: var(--main-white);
    z-index: 9;
}
  
  @media (min-width:992px){
    .navList{
      list-style-type: none;
      display: flex;
      position: static;
      width: auto;
      margin: 0 auto;
      background-color: var(--main-white);
      color:var(--main-black);
  }
  }
  
  .navListHolder{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-purpure2);
    z-index: 9;
  }
  
  .navListHolderVisible{
    display: block;
  }
  
  @media (min-width:992px){
    .navListHolder{
      display:inline-block;
      position: static;
      background-color: none;
      }
  }
  
  .navItem {
    display: block;
    padding: 20px 10px;
    font-size: 25px;
  width: 100px;
  }
  
  @media (min-width:992px){
    .navItem{
      margin-right: 30;
      border-bottom: none;
      background-color: none;
      margin: 10px 50px;
  }
  }


  /*у последнего элемента нет отступа*/
  .navItem:last-child {
    margin-right: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: inherit;
  }
  
  .navLnk:hover{
    color:var(--main-orange);
  }

  .navSelect{
    width: 200px;
    height: 30px;
  }
  
  .navCard  {
    margin-top:5px;
    margin-left: auto;
    margin-right: 5px;
  }
  
  @media (min-width:992px){
    .navCard{
      margin-right: 0;
  }
  }
  
  .navCardLink{
    position: relative;
    margin: 5px;
    left: -5px;
    display: inline-block;
    right: 25px;
  }
  
  .navCardNumber{
    position: absolute;
    border-radius: 50%;
    color:var(--main-white);
    background-color: var(--main-purpure);
    font-weight: bold;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
  
  }
  
  .navCard > span{
    margin-left: 20px;
  }
  


